.blogs .item{
  border-bottom: 5px solid #4d4d4d;
  border-bottom: 5px solid rgba(77,77,77,.3);
  padding: 1rem;
  margin-bottom: 1rem;
}

.blogs .item:last-of-type{
  margin-bottom: 0;  
  border-bottom: 0;
}

.blogs .item .author, .blog .author{
  font-size: .7rem;
  color: #4d4d4d;
  color: rgba(77,77,77,.3);
}

.blogs .item h2 a{
  font-weight: bold;
  text-decoration: none;  
}